@model Model.EF.User

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Update  Account  <span style="color:red">@ViewBag.error</span></div>
            <div class="card-body">
                @using (Html.BeginForm("Update","User",FormMethod.Post))
                {
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(Model => Model.UserName, new { @class = "form-control", @placeholder = "Enter name" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(Model => Model.Phone, new { @class = "form-control", @placeholder = "Enter Phone" })
                                @Html.ValidationMessageFor(Model => Model.Phone, "", new { @class = "validation" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", @placeholder = "Enter Email" })
                        @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "validation" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1"> Address</label>
                        @Html.TextBoxFor(Model => Model.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                        @Html.ValidationMessageFor(Model => Model.Address, "", new { @class = "validation" })
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Password</label>
                                @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", @placeholder = "Enter password" })
                                @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "validation" })
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", @placeholder = "Confirm password" })
                                @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "validation" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary btn-block" value="Update" />

                            </div>
                            <div class="col-md-6">
                                <a href=@Url.Action("ListUser","User")>  <input type="button" class="btn btn-primary btn-block" value="Return" /></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
<style>
    .validation {
        color: red;
    }
</style>
